@use 'base';

/* Info dialog. */

#__MODULE_ID__-info {
  * {
    user-select: text;
  }

  .dialog-buttons {
    flex: none;
  }

  p,
  h2 {
    flex: 0;
  }

  img {
    border: none;
  }

  table {
    text-align: left;

    th {
      width: 7rem;
    }
  }

  table td,
  ul.checklist {
    list-style-type: none;
    padding-left: 0;
    margin: 0.2rem 0;

    li {
      line-height: 1.2rem;
      display: flex;
      align-items: center;
    }

    button.click-copy-button {
      margin: 0 0.25rem;

      .click-copy-text {
        line-height: 1.2rem;
      }
    }
  }

  .checkbox-symbol {
    cursor: help;
    margin-right: 0.5rem;
  }

  i.check-symbol {
    font-size: 1.1em;
    cursor: help;
  }

  i.fa-check-circle.check-symbol {
    color: #008800;
  }

  i.fa-minus-circle.check-symbol {
    color: #808000;
  }

  i.fa-times-circle.check-symbol {
    color: #880000;
  }

  td.check-col {
    width: 2rem;
    max-width: 2rem;
    text-align: center;
  }
}
