@use 'base';

$tooltip-width: 6rem;
$border-radius: 0.25rem;

/* Tooltip pop-up on hover. */

#__MODULE_ID__-info {
  .hidden {
    right: 9999rem !important;
    opacity: 0 !important;
  }

  button.click-copy-button {
    position: relative;
    height: auto;
    width: auto;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    display: inline;
    cursor: text;
    line-height: 100%;
    color: base.$fvtt-black-text-color;

    .click-copy-text {
      user-select: all;
    }

    .click-copy-tooltip {
      display: none;
    }

    &:hover,
    &:focus {
      box-shadow: none;

      .click-copy-text {
        text-decoration: none;
        text-shadow: none;
      }
    }
  }

  button.click-copy-button.secure {
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: none;

      .click-copy-text {
        text-decoration: underline;
        text-shadow: 0 0 0.6rem #ff0000;
      }
    }

    .click-copy-text {
      user-select: auto;
    }

    .click-copy-tooltip {
      position: absolute;
      width: $tooltip-width;
      top: -66%;
      right: 9999rem;
      margin-right: -$tooltip-width - 1rem;
      padding: 0.5rem $border-radius;

      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: base.$fvtt-context-color;
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.75);
      border-radius: $border-radius;

      font-size: 0.875rem;
      color: base.$fvtt-white-text-color;
    }

    &:hover .click-copy-tooltip {
      right: 0;
      opacity: 1;
      z-index: 1;

      &:before {
        position: absolute;
        height: 0;
        width: 0;
        top: 50%;
        left: -1rem;
        margin-top: -0.5rem;

        border: 0.5rem solid transparent;
        content: " ";
        border-right-color: base.$fvtt-context-color;
      }
    }
  }
}
