@use 'base';

/* Styles required for the translation to appear as intended. */

div.tab[data-tab="animation"] > div.form-group > label {
  min-width: 11rem;
}

#scene-list nav#context-menu,
div[id^=track-config-] form label,
div[id^=playlist-config-] form label {
  min-width: 10.5rem;
}
