<h2>{{{check-symbol translation.ok titleChecked="__MODULE_ID__.InfoDialog.CheckOk" titleUnchecked="__MODULE_ID__.InfoDialog.CheckNotOk"}}} {{mlocalize "InfoDialog.StatusHeader"}}</h2>
<table>
	<tbody>
	<tr>
		<td class="check-col"></td>
		<th>{{mlocalize "InfoDialog.ModuleVersionHeader"}}</th>
		<td>
			<ul class="checklist">
				<li>{{mlocalize "InfoDialog.InstalledVersionLabel"}}: {{{click-copy module.version copy_text=module.version_full}}}</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="check-col">{{{check-symbol translation.version_ok titleChecked="__MODULE_ID__.InfoDialog.CheckOk" titleUnchecked="__MODULE_ID__.InfoDialog.CheckNotOk"}}}</td>
		<th>{{mlocalize "InfoDialog.FVTTVersionHeader"}}</th>
		<td>
			<ul class="checklist">
				<li>{{mlocalize "InfoDialog.FVTTCurrentVersionLabel"}}: {{{click-copy fvtt.version copy_text=fvtt.version_full}}}</li>
				{{#if module.supportMultipleVersions}}
				<li>{{mlocalize "InfoDialog.FVTTCompatibleVersionLabel"}}: {{{click-copy module.minCoreVersion copy_text=module.minCoreVersion_full}}}–{{{click-copy module.maxCoreVersion copy_text=module.maxCoreVersion_full}}}</li>
				{{else}}
				<li>{{mlocalize "InfoDialog.FVTTCompatibleVersionLabel"}}: {{{click-copy module.maxCoreVersion copy_text=module.maxCoreVersion_full}}}</li>
				{{/if}}
			</ul>
		</td>
	</tr>
	<tr>
		<td class="check-col">{{{check-symbol note_icons.ok titleChecked="__MODULE_ID__.InfoDialog.CheckOk" titleUnchecked="__MODULE_ID__.InfoDialog.CheckNotOk"}}}</td>
		<th>{{{mlocalize "InfoDialog.NoteIconsHeader"}}}</th>
		<td>{{mlocalize "InfoDialog.MissingNoteIcons" missing_count=note_icons.missing_translations}}</td>
	</tr>
	<tr>
		<td class="check-col">{{{check-symbol tours.ok titleChecked="__MODULE_ID__.InfoDialog.CheckOk" titleUnchecked="__MODULE_ID__.InfoDialog.CheckNotOk"}}}</td>
		<th>{{{mlocalize "InfoDialog.ToursHeader"}}}</th>
		<td>{{mlocalize "InfoDialog.MissingTours" missing_count=tours.missing_translations}}</td>
	</tr>
	<tr>
		<td class="check-col">{{{check-symbol keyboard.ok enabled=keyboard.enabled titleOkEnabled="__MODULE_ID__.InfoDialog.CheckOk" titleOkDisabled="__MODULE_ID__.InfoDialog.StatusDisabled" titleNotOk="__MODULE_ID__.InfoDialog.CheckNotOk"}}}</td>
		<th>{{{mlocalize "InfoDialog.KeyboardHeader"}}}</th>
		{{#if keyboard.enabled}}
		<td>{{mlocalize "InfoDialog.KeyboardStatusEnabled"}}</td>
		{{else}}
		<td><i>{{mlocalize "InfoDialog.KeyboardStatusDisabled"}}</i></td>
		{{/if}}
	</tr>
	</tbody>
</table>
<p>{{module.description}}</p>
<h2>{{{check-symbol tinymce.ok titleChecked="__MODULE_ID__.InfoDialog.CheckOk" titleUnchecked="__MODULE_ID__.InfoDialog.CheckNotOk"}}} {{mlocalize "InfoDialog.TinyMCEStatusHeader"}}</h2>
<table>
	<tbody>
	<tr>
		<td class="check-col">{{{check-symbol tinymce.translation_not_outdated titleChecked="__MODULE_ID__.InfoDialog.CheckOk" titleUnchecked="__MODULE_ID__.InfoDialog.CheckNotOk"}}}</td>
		<th>{{mlocalize "InfoDialog.TinyMCEVersionHeader"}}</th>
		<td>
			<ul class="checklist">
				<li>{{mlocalize "InfoDialog.InstalledVersionLabel"}}: {{{click-copy tinymce.version copy_text=tinymce.version_full}}}</li>
				<li>{{mlocalize "InfoDialog.TinyMCETranslationVersionLabel"}}: {{{click-copy tinymce.translation_version copy_text=tinymce.translation_version_full}}}</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="check-col">{{{check-symbol tinymce.one_core_installed titleChecked="__MODULE_ID__.InfoDialog.CheckOk" titleUnchecked="__MODULE_ID__.InfoDialog.CheckNotOk"}}}</td>
		<th>{{mlocalize "InfoDialog.TinyMCEInstalledCoreHeader"}}</th>
		<td>
			<ul class="checklist">
				<li>{{{radio-symbol tinymce.installed_core_js titleChecked="__MODULE_ID__.CheckboxInstalled" titleUnchecked="__MODULE_ID__.CheckboxNotInstalled"}}}<span class="checkbox-label">{{mlocalize "InfoDialog.TinyMCECoreFileTypeOfficial" fileType=".JS"}}</span></li>
				<li>{{{radio-symbol tinymce.installed_core_json titleChecked="__MODULE_ID__.CheckboxInstalled" titleUnchecked="__MODULE_ID__.CheckboxNotInstalled"}}}<span class="checkbox-label">{{mlocalize "InfoDialog.TinyMCECoreFileTypeCustom" fileType=".JSON"}}</span></li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="check-col">{{{check-symbol tinymce.extras_installed titleChecked="__MODULE_ID__.InfoDialog.CheckOk" titleUnchecked="__MODULE_ID__.InfoDialog.CheckNotOk"}}}</td>
		<th>{{mlocalize "InfoDialog.TinyMCEInstalledMenusHeader"}}</th>
		<td>
			<ul class="checklist">
				<li>{{{checkbox-symbol tinymce.installed_custom titleChecked="__MODULE_ID__.CheckboxInstalled" titleUnchecked="__MODULE_ID__.CheckboxNotInstalled"}}}<span class="checkbox-label">{{mlocalize "InfoDialog.TinyMCECustomMenus"}}</span></li>
				<li>{{{checkbox-symbol tinymce.installed_plugin titleChecked="__MODULE_ID__.CheckboxInstalled" titleUnchecked="__MODULE_ID__.CheckboxNotInstalled"}}}<span class="checkbox-label">{{mlocalize "InfoDialog.TinyMCEPluginMenus"}}</span></li>
			</ul>
		</td>
	</tr>
	</tbody>
</table>
<p>{{#if tinymce.translation_not_outdated}}
	{{#if tinymce.ok}}
	{{mlocalize "InfoDialog.TinyMCEInstalledEverything"}}
	{{else}}
	{{{llocalize "__MODULE_ID__.InfoDialog.TinyMCELocalizationDescription" linkUrl="__MODULE_ID__.InfoDialog.TinyMCELocalizationDescriptionLinkUrl" linkTitle="__MODULE_ID__.InfoDialog.TinyMCELocalizationDescriptionLinkTooltip" linkText="__MODULE_ID__.InfoDialog.TinyMCELocalizationDescriptionLinkText"}}}
	{{/if}}
	{{else}}
	{{mlocalize "InfoDialog.TinyMCETranslationOutdated"}}
	{{/if}}</p>
<h2>{{mlocalize "InfoDialog.LinksHeader"}}</h2>
<ul>
	<li><a href="{{module.url}}">{{mlocalize "InfoDialog.RepositoryLabel"}}</a></li>
	<li><a href="{{module.bugs}}">{{mlocalize "InfoDialog.IssuesLabel"}}</a></li>
	<li><a href="{{mlocalize 'InfoDialog.DiscordInviteLink'}}" title="{{localize '__MODULE_ID__.InfoDialog.DiscordInviteTooltip'}}">{{mlocalize "InfoDialog.IssuesLabelDiscord"}}</a></li>
	<li><a href="{{module.changelog}}">{{mlocalize "InfoDialog.ChangelogLabel"}}</a></li>
</ul>
<h2>{{mlocalize "InfoDialog.AuthorsHeader"}}</h2>
<p draggable="false">{{mlocalize "InfoDialog.DiscordContactLabel"}}: <a href="{{mlocalize 'InfoDialog.DiscordInviteLink'}}" title="{{localize '__MODULE_ID__.InfoDialog.DiscordInviteTooltip'}}">__DISCORD_SERVER_NAME__</a></p>
<ul>
	{{#each module.authors}}
	<li>{{this.name}} ({{{click-copy this.discord}}})</li>
	{{/each}}
</ul>
